 <!DOCTYPE HTML>
<!--
	
-->
<html>
	<head>
		<title>Temperature Controller</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/jquery.dropotron.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/skel.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/skel-layers.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/init.js')}}"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script src="{{ url_for('static',filename='js/guage.js')}}"></script>
			<link rel="stylesheet" href="{{ url_for('static',filename='css/skel.css')}}" />
			<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" />
			<link rel="stylesheet" href="{{ url_for('static',filename='css/style-desktop.css')}}" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
<body class="homepage">

		<!-- Header -->
			<div id="header-wrapper" class="wrapper">
				<div id="header">
					
					<!-- Logo -->
						<div id="logo">
							<h1><a href="">Temperature Controller</a></h1>
						</div>
				</div>
			</div>
		
		<!-- Intro -->
			<div id="intro-wrapper" class="wrapper style1">
			<center>
			<div id="chart_div" style="width: 400px; height: 120px;">
			</div>
			<table style="width:50%">
				  <tr>
				     <th>Attribute</th>
					 <th>Value</th>
					 <th>Edit</th>
					 <th></th>
				  </tr>
				     <tr>
							<td>Min Cutoff</td>
							<td> <div class="5u"><input type="text" name="minT" id="minT" value="{{minT}}" disabled /> </div></td>
							<td> <div class="5u"><input type="text" name="minTe" id="minTe"/> </div></td>
							<td><input type="button" name="minTeb" value="Update" id="minTeb"/> </td>
					 </tr> 		
				     <tr>
							<td>Max Cutoff</td>
							<td> <div class="5u"><input type="text" name="maxT" id="maxT" value="{{maxT}}" disabled /> </div></td>
							<td> <div class="5u"><input type="text" name="maxTe" id="maxTe"/> </div></td>							
							<td><div class="3u"><input type="button" name="maxTeb" value="Update" id="maxTeb"/> </div></td>
					 </tr> 		

			</center>
			</div>
	</body>
</html>